<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<style>
    body {
        background-color: linen;
    }

    table, th, td {
        border: 1px solid black;
    }
    th {
        background-color: #DEB887;
    }

    td {
        text-align: center;
    }

</style>
<table class="table table-hover">
    <tr>

        <th style="text-align: center;">Name</th>
        <th>Build</th>
        <th>Result</th>
        <th>Console</th>
        <th>Exception</th>
    </tr>
    {% for result in results %}
            <tr>
                <td><a href="{{ result.url }}">{{ result.name }}</a></td>
                <td><a href="{{ result.url }}/{{ result.last_build }}">{{ result.last_build }}</a></td>
                <td>{{ result.last_result }}</td>
                <td><a href="{{ result.url }}/{{ result.last_build }}/consoleFull">link</a></td>
                <td style="text-align: left;">
                    <pre><a style="color: black;background-color: transparent;text-decoration: none;"
                            href="/{{ result.name }}/traceback">{{ result.last_exception }}</a></pre>
                </td>
            </tr>
        </div>
    {% endfor %}
</table>
</body>
</html>